<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kanefron5.vktest" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Start"
            android:label="@string/app_name"
            android:theme="@style/Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Easter"
            android:label="О разработчике"
            android:noHistory="true"
            android:theme="@android:style/Theme.Holo.Dialog">
        </activity>
        <activity android:name=".Chaing"
            android:logo="@drawable/ic_company"
            android:label="Список изменений"
            android:theme="@android:style/Theme.Holo.Dialog">

            </activity>
        <activity android:name=".Nav"
            android:label="Навигация"
            android:theme="@style/ab">
            </activity>
        <activity android:name=".Prefs"
            android:label="Настройки"
            android:theme="@style/ab">
        </activity>

        <activity android:name=".Comunities"
            android:label="@string/Группы"
            android:theme="@style/ab">
        </activity>
        <activity android:name=".Feedback"
            android:label="@string/Ответы"
            android:theme="@style/ab">
        </activity>
        <activity android:name=".Messages"
            android:label="@string/Сообщения"
            android:theme="@style/ab">
        </activity>
        <activity android:name=".Music"
            android:label="@string/Музыка"
            android:theme="@style/ab">
        </activity>
        <activity android:name=".News"
            android:label="@string/Новости"
            android:theme="@style/ab">
        </activity>
        <activity android:name=".Photos"
            android:label="@string/Фотографии"
            android:theme="@style/ab">
        </activity>
        <activity android:name=".Prof"
            android:label="@string/Профиль"
            android:theme="@style/ab">
        </activity>
        <activity android:name=".Videos"
            android:label="@string/Видео"
            android:theme="@style/ab">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
</manifest>
